fastapi
uvicorn
langchain
pypdf
faiss-cpu
sentence-transformers
langchain-community
python-multipart
PyPDF2
transformers
torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu
Pillow
openai-whisper
pdfplumber
